{% extends 'web/base.html' %}
{% load static %}

{% block main %}
<div id='numba-app'>
  <numba-generator :numba="currentNumba" :quote="currentQuote" @generate="generateNumba"></numba-generator>
  <numbas-list :numbas="numbas"></numbas-list>
</div>

{% endblock %}

{% block extra_js %}

{% if settings.ENV == settings.PRODUCTION %}
  <script type='text/javascript' src="{% static 'web/vuejs/vue.min.js' %}" ></script>
{% else %}
  <script type='text/javascript' src="{% static 'web/vuejs/vue.js' %}" ></script>
{% endif %}

<script type='text/javascript' src="{% static 'web/randonumba.js' %}" ></script>
{% endblock %}
